<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <div style="margin-left: 10%;" class="text-center position-absolute top-50 translate-middle-y d-inline-block z-1">
            <p class="fs-6 fw-light">W e l c o m e &nbsp;  T o &nbsp;  F a s h i o n</p><br>
            <p style="font-size: 60px;" class="fw-medium">MEN FASHION</p><br>
            <button class="btn btn-danger rounded-0 ps-3 pe-3">SHOP NOW</button>
        </div>
        <img src="../../../../assets/home/1.jpg" class="d-block w-100 position-relative" alt="image here">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div style="margin-left: 10%;" class="text-center position-absolute top-50 translate-middle-y d-inline-block z-1">
            <p class="fs-6 fw-light">W e l c o m e &nbsp;  T o &nbsp;  F a s h i o n</p><br>
            <p style="font-size: 60px;" class="fw-medium">WOMEN FASHION</p><br>
            <button class="btn btn-danger rounded-0 ps-3 pe-3">SHOP NOW</button>
        </div>
        <img src="../../../../assets/home/2.jpg" class="d-block w-100" alt="image here">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>