<div class="footer">
    <div class="upper col-12 d-flex">
        <div class="text col-6 border-end border-dander">
            <h4 class="m-0">KNOW IT ALL FIRST!</h4>
            <p class="m-0">Never Miss Anything From Multikart By Signing Up To Our Newsletter.</p>
        </div>
        <div class="input col-6 border-start border-danger">
            <form>
                <div class="form-group d-flex justify-content-end">
                    <input type="email" class="input" placeholder="Enter your email">
                    <button type="submit" class="subscribe">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <footer>
        <div class="section d-flex">
            <div class="left col-5">
                <div class="desctiption">
                    <img src="../../../../assets/icons/logo.png" class="logo" alt="">
                    <p style="margin-bottom: 60px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                </div>
                <div class="icons d-flex justify-content-between">
                    <button class="btn"><i class="fa-brands fa-facebook-f fa-xl"></i></button>
                    <button class="btn"><i class="fa-brands fa-google-plus-g fa-xl"></i></button>
                    <button class="btn"><i class="fa-brands fa-twitter fa-xl"></i></button>
                    <button class="btn"><i class="fa-brands fa-instagram fa-xl"></i></button>
                    <button class="btn"><i class="fa-solid fa-rss fa-xl"></i></button>
                </div>
            </div>
            <div class="right col-7 d-flex">
                <div class="category col-4">
                    <h4>CATEGORIES</h4>
                    <ul type="none">
                        <li><a href="">Womens Fashion</a></li>
                        <li><a href="">Mens Fashion</a></li>
                        <li><a href="">Kids Fashion</a></li>
                        <li><a href="">Featured</a></li>
                    </ul>
                </div>
                <div class="features col-4">
                    <h4>WHY WE CHOOSE</h4>
                    <ul type="none">
                        <li><a href="">Shipping & Return</a></li>
                        <li><a href="">Secure Shopping</a></li>
                        <li><a href="">Gallary</a></li>
                        <li><a href="">Affiliates</a></li>
                        <li><a href="">Contacts</a></li>
                    </ul>
                </div>
                <div class="location col-4">
                    <h4>STORE INFORMATION</h4>
                    <ul type="none">
                        <li><i class="fa-solid fa-location-dot"></i> Multikart Demo Store, Demo Store India 345-659</li>
                        <li><i class="fa-solid fa-phone"></i> Call Us:123-345-7898</li>
                        <li><i class="fa-sharp fa-solid fa-envelope"></i> Email Us:Support@Fiot.com</li>
                        <li><i class="fa-solid fa-fax"></i> Fax:123456</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="stripe d-flex justify-content-between align-items center">
    <div class="copyright">
        <p>&#169; 2023 theme forest powered by pixelstrap</p>
    </div>
    <div class="icons">
        <img src="../../../../assets/icons/visa.png" alt="">
        <img src="../../../../assets/icons/mastercard.png" alt="">
        <img src="../../../../assets/icons/paypal.png" alt="">
        <img src="../../../../assets/icons/american-express.png" alt="">
        <img src="../../../../assets/icons/discover.png" alt="">
    </div>
</div>