<div class="container-fluid mininav">
    <div class="container d-flex justify-content-between">
        <div class="left-side">
            <p class="d-inline pe-1 me-1">Welcome To Our Store Multikart</p>
            <p class="d-inline"><i class="fa-solid fa-phone p-1" style="color: #ff1900;"></i> Call Us:123-456-7890</p>
        </div>
        <div class="right-side">
            <a style="padding-right: 18px;" class="d-inline"><i class="fa-solid fa-code-compare"></i>&nbsp;Compare</a>
            <p style="padding-right: 18px;" class="d-inline"><i class="fa-solid fa-heart"></i>&nbsp;Wishlist</p>
            <p style="padding-right: 18px;" class="d-inline"><i class="fa-solid fa-user"></i>&nbsp;My Account<i class="fa-solid fa-chevron-up fa-rotate-180"></i></p>
        </div>
    </div>
</div>
<!----------------------------------- Sidebar ------------------------------->
<div class="container-fluid d-flex">
    <div class="button d-flex align-items-center">
      <button class="btn btn-lg d-inline-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
        <i class="fa-sharp fa-solid fa-bars" style="color: #000000;"></i>
      </button>
    </div>
    <div style="width: max-content;" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <!-- <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5> -->
        <button type="button" class="btn fs-5" data-bs-dismiss="offcanvas">
          <i class="fa-solid fa-chevron-up fa-rotate-270" style="color: #00040a;"></i>BACK
        </button>
      </div>
      <hr>
      
      <div class="offcanvas-body p-0">
        <ul>
          <li class="d-block"><a>CLOTHING</a><span style="float: right; padding-right: 10px;"><i class="fa-solid fa-chevron-up fa-rotate-90" style="color: #00040a;"></i></span></li>
          <li><a href="">BAGS</a><span style="float: right; padding-right: 10px"><i class="fa-solid fa-chevron-up fa-rotate-90" style="color: #00040a;"></i></span></li>
          <li><a href="">FOOTWEAR</a><span style="float: right; padding-right: 10px"><i class="fa-solid fa-chevron-up fa-rotate-90" style="color: #00040a;"></i></span></li>
          <li><a href="">WATCHES</a></li>
          <li><a href="">ACCESSORIES</a><span style="float: right;padding-right: 10px"><i class="fa-solid fa-chevron-up fa-rotate-90" style="color: #00040a;"></i></span></li>
          <li><a href="">HOUSE OF DESIGN</a></li>
          <li><a href="">BEAUTY & PERSONAL CARE</a><span style="float: right; padding-right: 10px"><i class="fa-solid fa-chevron-up fa-rotate-90" style="color: #00040a;"></i></span></li>
          <li><a href="">HOME & DECOR</a></li>
          <li><a href="">KITCHEN</a></li>
        </ul>
      </div>
    </div>
    <!----------------------------------- Logo -------------------------------->
    <div class="img d-flex align-items-center">
      <img src="https://angular.pixelstrap.com/multikart/assets/images/icon/logo.png" alt="">
    </div>
    <!-- -------------Navbar------------------- -->
    <div class="navbar">
      <nav class="navbar navbar-expand-lg">
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse p-0" id="navbarSupportedContent">
          <ul class="navbar-nav p-0 m-0">
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <button type="button" class="btn">HOME <i class="fa-sharp fa-solid fa-chevron-down"></i></button>
                    <div class="dropdown-content">
                      <button class="btn" routerLink="/pages/login">CLOTHING</button><br>
                      <button class="btn" routerLink="/home/vegetables">VEGETABLES</button><br>
                      <button class="btn">WATCH</button><br>
                      <button class="btn">FURNITURE</button><br>
                      <button class="btn">FLOWER</button><br>
                      <button class="btn">BEAUTY</button><br>
                      <button class="btn">ELECTRONICS</button><br>
                      <button class="btn">PETS</button><br>
                      <button class="btn">GYM</button><br>
                      <button class="btn">TOOLS</button><br>
                      <button class="btn">SHOES</button><br>
                      <button class="btn">BAGS</button><br>
                    </div>
                </div>
              </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <button type="button" class="btn">SHOP <i class="fa-sharp fa-solid fa-chevron-down"></i></button>
                    <div class="dropdown-content">
                      <button class="btn"><a href="#"></a>LEFT SIDEBAR</button><br>
                      <button class="btn"><a href="#"></a>RIGHT SIDEBAR</button><br>
                      <button class="btn"><a href="#"></a>NO SIDEBAR</button><br>
                      <button class="btn"><a href="#"></a>INFINITE SCROLL</button><br>
                    </div>
                </div>
              </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <button type="button" class="btn">PRODUCTS <i class="fa-sharp fa-solid fa-chevron-down"></i></button>
                    <div class="dropdown-content">
                      <button class="btn"><a href="#"></a>SIDEBAR</button><br>
                      <button class="btn"><a href="#"></a>THREE COLUMN</button><br>
                      <button class="btn"><a href="#"></a>FOUR IMAGE</button><br>
                      <button class="btn"><a href="#"></a>BUNDLE PRODUCT</button><br>
                      <button class="btn"><a href="#"></a>IMAGE OUTSIDE</button><br>
                    </div>
                </div>
              </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <button type="button" class="btn">FEATURES <i class="fa-sharp fa-solid fa-chevron-down"></i></button>
                    <div class="dropdown-content">
                      <button class="btn"><a href="#"></a>Overview</button><br>
                      <button class="btn"><a href="#"></a>Disclosures-Reg 46 & 62</button><br>
                      <button class="btn"><a href="#"></a>Other Disclosures Reg 62</button><br>
                      <button class="btn"><a href="#"></a>FAQs</button><br>
                    </div>
                </div>
              </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <button type="button" class="btn">PAGES <i class="fa-sharp fa-solid fa-chevron-down"></i></button>
                    <div class="dropdown-content">
                      <button class="btn"><a href="#"></a>ACCOUNT</button><br>
                      <button class="btn"><a href="#"></a>ABOUT US</button><br>
                      <button class="btn"><a href="#"></a>SEARCH</button><br>
                      <button class="btn"><a href="#"></a>TYPOGRAPHY</button><br>
                      <button class="btn"><a href="#"></a>REVIEW</button><br>
                      <button class="btn"><a href="#"></a>ORDER SUCCESS</button><br>
                      <button class="btn"><a href="#"></a>COMPARE</button><br>
                      <button class="btn"><a href="#"></a>COLLECTION</button><br>
                      <button class="btn"><a href="#"></a>LOOKBOOK</button><br>
                      <button class="btn"><a href="#"></a>404</button><br>
                      <button class="btn"><a href="#"></a>COMING SOON</button><br>
                      <button class="btn"><a href="#"></a>FAQ</button><br>
                    </div>
                </div>
              </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <button type="button" class="btn">BLOGS <i class="fa-sharp fa-solid fa-chevron-down"></i></button>
                    <div class="dropdown-content">
                      <button class="btn"><a href="#"></a>LEFT SIDEBAR</button><br>
                      <button class="btn"><a href="#"></a>RIGHT SIDEBAR</button><br>
                      <button class="btn"><a href="#"></a>NO SIDEBAR</button><br>
                      <button class="btn"><a href="#"></a>BLOG DETAILS</button><br>
                    </div>
                </div>
              </li>
          </ul>
        </div>
        <div class="dropdown">
          <button type="button" class="btn"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="dropdown">
          <button type="button" class="btn"><i class="fa-solid fa-gear"></i></button>
          <div class="dropdown-content">
            <ul><b>Language</b>
              <li><button class="btn"><a href="#"></a>ENGLISH</button></li>
              <li><button class="btn"><a href="#"></a>FRENCH</button></li>
            </ul>
            <ul><b>CURRENCY</b>
              <li><button class="btn"><a href="#"></a>EURO</button></li>
              <li><button class="btn"><a href="#"></a>RUPEES</button></li>
              <li><button class="btn"><a href="#"></a>POUND</button></li>
              <li><button class="btn"><a href="#"></a>DOLLAR</button></li>
            </ul>
          </div>
        </div>
        <div class="dropdown">
          <button type="button" class="btn"><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
    </nav>
    </div>
  </div>